In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("../data/Bab 1_Geografis_v2.0_2016.csv")

In [10]:
df.head()

,Bulan,Maksimal Kelembaban (%) di Juanda,Minimal Kelembaban (%) di Juanda,Maksimal Tekanan Udara (Mbs) di Juanda,Minimal Tekanan Udara (Mbs) di Juanda,Maksimal Temperatur (Celcius) di Juanda,Minimal Temperatur (Celcius) di Juanda,Rata-rata Kelembaban (%) di Tanjung Perak,Rata-rata Tekanan Udara (Mbs) di Tanjung Perak,Rata-rata Temperatur (Celcius) di Tanjung Perak
0,Januari,97.0,52.0,1013.9,1008.8,35.4,23.5,76,1010.9,29.7
1,Pebruari,98.0,58.0,1013.2,1008.7,34.0,24.1,81,1010.5,29.1
2,Maret,97.0,58.0,1013.7,1008.8,34.3,20.4,77,1010.7,30.0
3,April,97.0,58.0,1012.5,1009.7,34.4,24.2,80,1010.3,29.6
4,Mei,95.0,57.0,1012.2,1008.3,33.7,23.6,78,1009.7,30.1

In [13]:
df.columns

Index(['Bulan', 'Maksimal Kelembaban (%) di Juanda',
       'Minimal Kelembaban (%) di Juanda',
       'Maksimal Tekanan Udara (Mbs) di Juanda',
       'Minimal Tekanan Udara (Mbs) di Juanda',
       'Maksimal Temperatur (Celcius)  di Juanda',
       'Minimal Temperatur (Celcius)  di Juanda',
       'Rata-rata Kelembaban (%) di Tanjung Perak',
       'Rata-rata Tekanan Udara (Mbs) di Tanjung Perak',
       'Rata-rata Temperatur (Celcius) di Tanjung Perak'],
      dtype='object')

In [14]:
df['Maksimal Temperatur (Celcius)  di Juanda']

0     35.4
1     34.0
2     34.3
3     34.4
4     33.7
5     33.0
6     32.2
7     32.6
8     33.4
9     34.3
10    35.6
11    35.4
12    34.0
Name: Maksimal Temperatur (Celcius)  di Juanda, dtype: float64